@use '@styles/mixin.module' as mixin;
@use '@styles/variable.module' as variable;
.item {
    width: 100px;
    height: 41px;
    padding: 5px;
    @include mixin.flexCommon(center, center, 10px);
    @include mixin.radiusCommon(5px);
    background-color: variable.$white_color;
}

.spanTag {
    color: variable.$secondary_color;
}

.currentTime {
    font-size: 20px;
    font-weight: 400;
    color: variable.$four_color;
}