@use "@styles/mixin.module" as mixin;
@use "@styles/variable.module" as variable;

.container {
    @include mixin.flexCommon(center, center, 20px);
    padding: 100px 0;
    overflow: hidden;
    .title {
        color: variable.$four_color;
        font-size: 32px;
        font-weight: 400;
    };
    .des {
        color: variable.$thr_color;
        font-size: 16px;
    };
}

.contentContainer {
    text-align: center;
    @include mixin.flexCommon(center, center, 20px, nowrap, column);
    flex: 0 0 250px;
}


.boxImage {
    padding: 0 160px;
    flex: 1 1 100%;
    @include mixin.flexCommon(center, center, 20px);
}

.image {
    transition: all ease .5s;
}