@use '../../assets/styles/mixin.module' as mixin;
@use '../../assets/styles/variable.module' as variable;

.containerWrapper {
    @include mixin.flexCommon(center, center, 0px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: background-color ease .5s, transform ease .5s;
    user-select: none;
}

.logoLink {
    text-decoration: none;
    color: variable.$primary_color;
}
.onFixed {
    position: fixed;
    top: -83px;
    transform: translateY(83px);
    z-index: 999;
    box-shadow: 2px 0px 12px 0px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(5px);
    .background {
        background-color: variable.$white_color;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: .9;
        transition: background-color ease .5s;
    }
}

.containerHeader {
    position: relative;
    @include mixin.flexCommon(space-between, center, 10px);
    height: 83px;
    width: 1250px;
}

.boxIconSocial {
    @include mixin.customButton(26px, 26px, 0, variable.$primary_color, none, 50%);
}

.boxIconFeature {
    @include mixin.customButton(26px, 26px, 0, transparent, transparent, 0);
}

.containerBoxIcon {
    @include mixin.flexCommon(center, center, 15px)
}

.containerHeaderItem {
    @include mixin.flexCommon(center, center, 30px)
}

.containerMenuItem {
    @include mixin.flexCommon(center, center, 30px)
}

.menuItem {
    color: variable.$primary_color;
    font-size: 18px;
    cursor: pointer;
    padding-top: 10px;
}

.menuItem::after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: variable.$primary_color;
    display: block;
    margin-top: 10px;
    transform-origin: right;
    transform: scale(0);
    opacity: 0;
    transition: transform ease .5s, opacity ease .5s;
}

.menuItem:hover::after {
    transform: scale(1);
    opacity: 1;
}