@mixin radiusCommon ($radius: 10px) {
    border-radius: $radius;
}

@mixin customButton ($w, $h, $b, $backgroundColor, $borderColor, $radius) {
    @include flexCommon(center, center, 10px);
    @include radiusCommon($radius);
    cursor: pointer;
    background-color: $backgroundColor;
    width: $w;
    height: $h;
    border: $b solid $borderColor;
}

@mixin flexCommon ($x, $y, $gap: 0px, $wrap: nowrap, $direction: row) {
    display: flex;
    align-items: $y;
    justify-content: $x;
    flex-wrap: $wrap;
    gap: $gap;
    flex-direction: $direction;
}

@mixin doubledLine ($color: #E1E1E1) {
    width: 100%;
    height: 3px;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: $color;
}

@mixin commonLine ($color: #E1E1E1) {
    width: 100%;
    height: 1px;

    background-color: $color;
}

@mixin shadowBox () {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: transparent;
    opacity: 0;
    transition: background-color ease .3s, opacity ease .3s;
}