$primary_color: #333;
$secondary_color: #888;
$thr_color: #555;
$four_color: #222;
$fifth_color: #707070;
$white_color: #fff;
$sub_color: #404040;
$sub_secondary_color: #FFFFFFC7;

$border_color: #E1E1E1;
