$primary_color: #333;
$secondary_color: #888;
$thr_color: #555;
$four_color: #222;
$fifth_color: #707070;
$white_color: #fff;
$sub_color: #404040;
$sub_secondary_color: #FFFFFFC7;
$purple_color: #4f46e5;
$background_color: #363636;
$border_color: #E1E1E1;

$background_b_color: #d9edf7;
$border_b_color : #bce8f1;